.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.screen-demo {
  width: 1280px;
  height: 720px;
  background-color: #000;
}
.cl-white {
  color: white;
}
.txt-break-all {
  word-break: break-all;
}
.test > span div {
  /* border-radius: 50%;
  background-color: black;
  border: solid 1px #fff; */
}